<div class="alert alert-warning">数据分析 ( 统计您一天的运动数据 )</div>
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="glyphicon glyphicon-signal"></i> 今日数据
        </div>
      </div>
      <div class="panel-body">
        <!--调取数据-->
        <my-data></my-data>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="fa fa-line-chart"></i> 步数统计图
        </div>
      </div>
      <div class="panel-body">
        <!--调取数据-->
        <my-step></my-step>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="fa fa-line-chart"></i> 消耗卡路里
        </div>
      </div>
      <div class="panel-body">
        <!--调取数据-->
        <my-distance></my-distance>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <i class="fa fa-line-chart"></i> 体重曲线
        </div>
      </div>
      <div class="panel-body">
        <!--调取数据-->
        <my-weight></my-weight>
      </div>
    </div>
  </div>
</div>
