<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"
         style="top: 50%; position: absolute; margin-top: -200px">
      <div class="well">
        <h4 class="text-center">登录</h4>
        <form #userForm="ngForm" name="login" class="login">
          <div class="form-group">
            <p>
              <input type="text" name="username" placeholder="用户名" class="form-control" [(ngModel)]="username"
                     required/>
            </p>
          </div>
          <div class="form-group">
            <p>
              <input type="password" name="password" placeholder="密码" class="form-control" [(ngModel)]="password"
                     required/>
            </p>
          </div>
          <p>
            <a routerLink="/register">注册</a>
            <button class="btn btn-primary pull-right" [disabled]="!userForm.form.valid" (click)="goLogin()">提交</button>
          </p>
          <p class="text-danger">
            {{message}}
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

